@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body{
    font-family: 'Source Sans Pro', sans-serif;
    color: #666;
    font-weight: normal;
    line-height: 1.6;
    background-color: #1091b813;
}

.header-top{
    margin-top: 0;
    width: 100%;
    height: 4em;
    position: relative;
    z-index: 1;
}

.header-nav{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(3, 1, 48);
}

.header-fixed{
    position: fixed;
}

.header-nav ul{
    margin: 0;
    padding: 0;
}

.header-nav li{
    list-style: none;
    display: inline-block;
    margin: 0 5px 0;
    padding: 1em;
}

.header-nav a{
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 3px;
    transition: all 0.3s linear; 
    border-bottom: 2px solid transparent;
}

.header-nav a:hover{
    border-bottom: 2px solid white;
}

.header-nav input{
    padding: .5em;    
}

.header-nav input:focus{
    background-color: whitesmoke;
}

.hero{
    background-color: #2f363d;
    width: 100%;
    height: 450px;

    overflow: hidden;

}

.box-card{
    width: 90%;
    height: 85%;
    margin: 5.3em auto;
    
}




.card-1-4{
    height: 90%;
    width: 24%;
    float: left;
    background-color: #efefef;
    background-size: cover;
    border-radius: .5em;
    
    transition: all .2s linear;
}

.card-1-4:hover{
    cursor: pointer;
}




.card-2-4{
    height: 90%;
    width: 48%;
    float: left;
    border-radius: .5em;

    margin: auto 2em;

    background-color: #0f7a9b;   
    background-size: cover;
    transition: all .5s linear;
}

.card-2-4:hover{

    cursor: pointer;


}

.card-left{
    background-image: url(../images/thumbs/fx.png);
}

.card-right{
    background-image: url(../images/thumbs/introduction-to-machine-learning_social.png);
}

.card-center{
    background-image:  url(../images/thumbs/y9gz8j4PSK2wCnbgtyiW_double-stranded-dna_med.jpeg);
}

h1, h2, h3, h4, h5, h6{
    color: #78787878;
    font-weight: normal;
    margin: 1.3em 0;
}

h1{
    font-size: 36px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 26px;
}

h4{
    font-size: 22px;
}

h5{
    font-size: 18px;
}

h6{
    font-size: 15px;
}

a{
    text-decoration: none;
}

p{
    margin: 0 0 2em;
}

img{
    max-width: 100%;
}

.lateral-bar{
    margin-left: 0;
    width: 20%;
    height: 100%;
    position: fixed;
    border-right: 1px solid rgba(141, 139, 139, 0.616);
    background-color: white;
    
}

.user-profile{
    margin: 5em auto;
    border-bottom: 1px solid #09484d;
    
    width: 90%;
    background-color: white;
    padding: 1em 1em 3em;
}

.feed{
    margin-left: 20%;
    height: 100%;
    width: 60%;
    position: relative;

    
}

.avatar{
    margin-top: 3em;
    display: inline-block;
    width: 8em;
    height: 8em;
    background-color: white;
    border: 1px solid #666;
    border-radius: 50%;
    overflow: hidden;
    transition: all .2s linear;
}

.avatar:hover{
    cursor: pointer;
    border-radius: 25%
}
.avatar img{
    max-width: 8em;
    float: left;
    padding: 0;
    margin: 0;
    
}

.avatar-small{
    display: inline;
    
    border-radius: .5em;
    margin: 0 auto;
}

.avatar-small img{
    max-width: 6em;
}

.avatar-small strong{
    font-size: 4em;
    margin-bottom: 1em;
}

.repositories{
    width: 90%;
    margin: 1em;
}

.post{
    background-color: white;
    margin-left: 0;
}

.border-post{
    border-bottom: 1px solid #666;
    padding: 1em;
}




.full-page{
    width: 100%;
    height: 100%;
}

.container{
    margin: 200px auto;
    width: 100%;
    height: 70%;
    box-sizing: border-box;

}

.box-1-4{
    width: 25%;
    margin: auto;
    box-sizing: border-box;
    overflow: auto;
}


.box-2-4{
    width: 50%;
    margin: auto;
    box-sizing: border-box;
    overflow: auto;

    

}

.box-3-4{
    width: 75%;
    margin: auto;
    box-sizing: border-box;
    overflow: auto;
    border: 1px solid #666;
    border-radius: .6em;
    padding: .8em;

}

.link-login{
    display: inline-block;
    font-size: 20px;
    margin: 10px auto 10px;
}

.logo{
    width: 200px;
    height: 200px;
    background-color: transparent;
    margin: 30px auto;
    color: white;
    box-sizing: content-box;
    overflow: hidden;
}

.hidden{
    display: none;
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    display: block;
}

/* Grid */

.row{
    overflow: auto;
    margin: auto;
    box-sizing: content-box;
    padding: 1em;
}

.col-1{
    width: 98.5%;
    box-sizing: content-box;
}

.col-2{
    width: 48.5%;
    float: left;
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}

.col-2:first-child{
    margin-right: 1.5%;
}

.col-2:last-child{
    margin-left: 1.5%;
}


input, label, textarea, select{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

input{
    background: rgba(233, 227, 227, 0.473);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 2px solid transparent;
}

input:focus{
    background: rgba(233, 227, 227, 0.219);
    border: solid 2px #09484d;
}


.button-default{
    background-color: #0f7a9b;
    border: 2px solid transparent;
    color: white;
    padding: .75em 1.5em;
    border-radius: 5px;
    font-size: .8em;
    display: inline-block;
    text-align: center;
    margin: .5em 0;
    width: auto;
    transition: all .5s; 
    cursor: pointer;
}

.button-default:hover{
    opacity: .8;
}

.button-default-stroke{
    background-color: white;
    border-color: #efefef;
    color: inherit;
}

.button-default-stroke:hover{
    color: #09484d;
    border-color: #09484d;
    background-color: white;
}

.button-default-full{
    width: 80%;
}

.button-default-big{
    width: 50%;
    height: 4em;
    margin-left: 25%;
}


footer{
    text-align: center;
    position: relative;
    margin-bottom: 2em;
}